Profile
<br>
<table>
    <tr>
        <td>First Name:</td>
        <td><%= current_user.first_name %></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td><%= current_user.last_name %></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><%= current_user.email %></td>
    </tr>
</table>
